<div class="pt-[60vh] pb-8 text-center bottom-padding">
  <p>[This Space Intentionally Left Blank]</p>
  <p>
    The bottom of every page is padded so readers can maintain a consistent
    eyeline.
  </p>
</div>
